<div class="container my-3 col-sm-6">
  <h1>Category Spring Boot CRUD</h1>
  <!-- <form (ngSubmit)="Submitted()"> -->
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [(ngModel)]="Cname" id="Cname" name="Cname"
        placeholder="Enter category name">
    </div>

    <div class="form-group my-2">
      <label for="status">Status</label>
      <select id="CStatus" class="form-select" [(ngModel)]="CStatus" name="CStatus" (change)="onStatusChange($event)"
        aria-label="Default select example">
        <option value="0" selected disabled>Select Status</option>
        <option value="1">Active</option>
        <option value="2">In active</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary my-2" (click)="AddItems()">Add Category</button>
  </form>

  <div class="container my-3">
    <table class="table">
      <thead>
        <tr>
          <td>SNo.</td>
          <td>ID</td>
          <td>Category Name</td>
          <td>Status</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of AllCategories; let i=index">
          <td>{{i+1}}</td>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.status_name}}</td>
          <td><button type="button" class="btn btn-danger btn-sm" (click)="openEditModal(item)">Edit</button>
            <button class="btn btn-danger btn-sm mx-2" (click)="deleteItem(item)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Grocery Items</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="CnameU" id="CnameU" name="CnameU"
            placeholder="Enter name">
        </div>
        <div class="form-group my-2">
          <label for="status">Status</label>
          <select #status class="form-select" [(ngModel)]="CStatusU" (change)="onStatusChange($event)"
            aria-label="Default select example">
            <option value="1">Active</option>
            <option value="2">In active</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
